@import url('https://fonts.googleapis.com/css?family=Actor&display=swap');

@font-face {
  font-family: 'Gotha Pro Reg';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/GothaProReg.otf') format('otf');
}

body{
  font-family: 'Actor' !important;
  height: 100vh;
}

#first-theme .avatar-section {
  padding: 2rem;
}

#first-theme .avatar-section .avatar img {
  width: 7.5rem;
}

#first-theme .user-details {
  color: #707070;
}

#first-theme .user-details .rate{
  color: #4D75E8
}

#first-theme .user-details .rate span{
  font-weight: 600;
}

#first-theme .user-details .rate p{
  color: rgba(77, 117, 232, 0.5)
}

#first-theme .audio-section {
  padding-left: 0.4rem;
  padding-top: 2rem;
}

#first-theme .audio-section .interv__container {
  display: grid;
  grid-template-columns: auto auto;
}

#first-theme .audio-section .interv {
  display: flex;
  flex-direction: column;
  margin-left: -3rem;
  margin-top: 12px;
}

#first-theme .audio-section .interv span {
  background: #4D75E8;
  padding: 0.4rem 0.7rem;
  color: #ffffff;
  border-radius: 5px;
  width: 48%;
}

#first-theme .audio-section .interv span:first-child {
  margin-top: -1rem;
  margin-bottom: 4px;
}

#first-theme .audio-section p {
  transform: rotate(270deg);
  position: relative;
  margin-top: -13px;
  color: #707070;
  font-weight: 100;
  font-size: 0.9rem;
}

#first-theme .tap-section {
  padding: 0.3rem 1.8rem;
}

#first-theme .tap-section button {
  border: 1px solid #4D75E8;
  padding: 0.4rem 1.5rem;
  color: rgba(77, 117, 232, 0.5)
}

#first-theme .tap-section button:focus {
  outline: none;
  box-shadow: none;
}

#first-theme .tap-section .icon-container {
  display: flex;
  justify-content: space-between;
}

#first-theme .tap-section .icon-container div {
  padding: 2px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.10);
  color: #4D75E8;
}

#first-theme .hire-me button {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  border-radius: 10px;
  background: #4D75E8;
  color: rgba(255, 255, 255, 0.5)
}

#first-theme .portfolio-section {
  margin-top: 4rem;
}

#first-theme .purple-section {
  background: #4D75E8;
  display: flex;
  justify-content: space-between;
}

#first-theme .purple-section .straight-line {
  background: rgba(255, 255, 255, 0.35);
  opacity: 0.39;
  height: 84vh;
  width: 1px;
  margin-top: 8.3rem;
  margin-left: auto;
  margin-right: auto;
}

#first-theme .purple-section .work__section {
  padding-top: 4rem;
  
}

#first-theme .purple-section .tab__section {
  display: flex;
  justify-content: space-around;
  padding: 0rem 5rem;

}

#first-theme .purple-section .work__section h5{
  color: #ffffff;
  opacity: 0.43;
  cursor: pointer;
}

#first-theme .purple-section .work__section a .active{
  color: #ffffff;
  opacity: 1;
  position: relative;
}

#first-theme .purple-section .work__section a .active::before{
  background: #ffffff;
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  border-radius: 100%;
  font-size: 6px;
  position: absolute;
  bottom: -9px;
  left: 30px;
}

#first-theme .purple-section .work__section .img-section {
  display: grid;
  margin-top: 3rem;
  grid-gap: 9rem;
}

#first-theme .purple-section .work__section .img-section img {
  width: 32rem;
  margin-left: -4rem;
}


#first-theme .purple-section .work-details__head {
  color: #ffffff;
  font-size: 14px;
  margin-top: 4rem;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#first-theme .purple-section .work-details__head .work-content{
  display: flex;
}

#first-theme .purple-section .work-details__head .work-content .list{
  margin-right: -4rem;
  margin-left: -8rem;
}

#first-theme .sub-heading {
  color: rgb(255, 255, 255) !important;
  opacity: 2;
}

#first-theme .purple-section .work-details__head .work-content .list-2{
  margin-right: -4rem;
  margin-left: -8rem;
}