@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro.woff') format('woff');
  font-weight: 300;
  font-style: normal;
 }

 @font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
 }

 @font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
 }


body{
  font-family: 'Gotham Pro' !important;
  min-height: 100vh;
}

#home .main-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

#home .user-details-container .avatar {
  width: 7rem;
}

#home .user-details-container .button-container {
  padding-top: 16px;
}

#home .user-details-container .user-deets {
  width: 74%;
}

#home .user-details-container .user-details {
  padding-top: 1.4rem;
}

#home .user-details-container .tap-to-chat {
  border: 1px solid #4D75E8;
  color: #4D75E8;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: -10px;
}

#home .icon-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  width: 53%;
  padding-top: 13px;
}

#home .icon-container .icon {
  width: 31px;
  height: 31px;
  color: #4D75E8;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .availability-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  color: #4D75E8;
  padding-top: 14px;
}

#home .availability-container .availability-p {
  padding-right: 20px;
  font-weight: 100;
}

#home .availability-container .purple-area {
  background: #4D75E8;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 14px 0 rgba(77,117,232,0.10);
}

#home .availability-container .purple-area:last-child {
  margin-left: 10px;
}

#home .availability-container .purple-area img {
  width: 23px;
  object-fit: contain;
}

#home .availability-container .action-area {
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 15px;
}

#home .availability-container .action-area div {
  padding-left: 25px;
  line-height: 17px;
  padding-top: 10px;
}

#home .availability-container .action-area div span {
  font-weight: 600;
}

#home .availability-container .action-area div p {
  font-weight: 100;
}

#home .availability-container .action-area button {
  background: #4D75E8;
  color: #ffffff;
  padding: 12px 16px;
  border: none;
  border-radius: 7px;
  font-weight: 100;
  box-shadow: 5px 10px 15px 0px rgba(77,117,232,0.10);
}

#home .availability-container .action-area button:focus,
#home .availability-container .action-area button:active
 {
  outline: none;
  box-shadow: none;
}

#home .tab-section {
  background: #4D75E8;
  padding: 3rem;
}

/*  */

#home .tab-icon-section {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}

#home .tab-containerr a .active{
  color: #4D75E8 !important;
  font-weight: 600;
}

#home .tab-containerr a{
  cursor: pointer;
  position: relative;
  color: #4D75E8;
  opacity: 0.43 !important;
  font-weight: 100;
}

#home .tab-containerr a .active::before{
  background: #4D75E8;
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  border-radius: 100%;
  font-size: 6px;
  position: absolute;
  bottom: -35px;
  left: 30px;
  z-index: 1;
}

#home .tab-containerr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 30px;
}

#home .img-section {
  display: flex;
  justify-content: space-between;
}

#home .img-section img {
  width: 100%;
}

#home .purple-section {
  display: flex;
  min-height: 62vh;
}

#home .purple-section .straight-line {
  background: rgba(255, 255, 255, 0.35);
  opacity: 0.39;
  height: 45vh;
  width: 1px;
  margin-left: auto;
  margin-right: auto;
}

#home .purple-section .mobile__tab{
  display: flex;
  justify-content: center;
}

#home .purple-section .work-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2rem;
  color: #ffffff;
  font-weight: 100;
}

#home .work-details {
  margin-left: 180px;
}

#home .user-deets__mobile {
  display: none;
}

#home .tab-section__mobile {
  display: none;
}

#home .action-area__mobile {
  display: none !important
}

#home .extra-small {
  display: none !important;
}

#home .work__section__mobile {
  display: none !important
}

@media (max-width: 991.98px) {
  #home .user-details-container .button-container,
  #home .user-details-container .user-deets,
  #home .user-details-container .icon-container,
  #home .user-details-container
  {
    display: none !important;
  }

  #home .extra-small {
    display: none !important;
  }

  #home .user-deets__mobile {
    display: block;
  }

  #home .user-deets__mobile .mobile-main__container {
    display: flex;
    justify-content: space-between;
  }

  #home .user-deets__mobile .avatar {
    width: 8rem;
    height: 9rem;
    object-fit: contain;
  }

  #home .user-details {
    padding: 19px 14px;
  }

  #home .user-deets__mobile .tap__mobile {
    border: 1px solid #4D75E8;
    background: transparent;
    padding: 9px 30px;
    font-size: 10px;
    color: #4D75E8;
    font-weight: 100;
    border-radius: 5px;
    margin: 9px;
  }

  #home .user-deets__mobile .user__rate {
    color: #4D75E8;
    display: flex;
    justify-content: space-between;
  }

  #home .user-deets__mobile .user__rate .rate {
    padding-left: 23px;
  }

  #home .user-deets__mobile .user__rate span {
    font-weight: 600;
  }

  #home .mobile-interview__container  {
    display: flex;
    position: relative;
  }

  #home .mobile-interview__container p {
    color: #707070;
    transform: rotate(-90deg);
    line-height: 13px;
    right: 66%;
    top: 33%;
    position: absolute;
  }

  #home .mobile-interview__container .mobile_image{
    display: flex;
    flex-direction: column;
  }
  
  #home .mobile-interview__container .mobile_image span {
    background: #4D75E8;
    width: 49px;
    padding: 9px;
    height: 43px;
    border-radius: 10px;
    margin: 10px;
  }

  #home .availability-container {
    display: none;
  }

  #home .mobile-social__section {
    display: flex;
    justify-content: space-between;
  }

  #home .mobile-social__section .tab__mobile {
    margin-top: -15px;
  }

  #home .mobile-social__section .tab__mobile button {
    border: 1px solid #4D75E8;
    background: transparent;
    color: #4D75E8;
    padding: 10px 18px;
    border-radius: 10px;
  }

  #home .mobile-social__section .mobile-icon__cont {
    display: flex;
    justify-content: space-between;
  }

  #home .mobile-social__section .mobile-icon__cont .icon {
    width: 37px;
    height: 31px;
    color: #4D75E8;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #home .hire {
    background: #4D75E8;
    color: #ffffff;
    font-weight: 100;
    padding: 15px 40px;
    border-radius: 10px;
  }

  #home .tab-containerr,
  .tab-section,
  .purple-section {
    display: none;
  }

  #home .tab-section__mobile {
    display: block;
    background: #4D75E8;
  }

  #home .tab-containerr__mobile {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
  }

  #home .tab-containerr__mobile a .active{
    color: #ffffff !important;
    font-weight: 600;
  }
  
  #home .tab-containerr__mobile a{
    cursor: pointer;
    position: relative;
    color: #ffffff;
    opacity: 0.43 !important;
    font-weight: 100;
  }
  
  #home .tab-containerr__mobile a .active::before{
    background: #4D75E8;
    font-family: "Font Awesome 5 Free";
    content: "\f111";
    border-radius: 100%;
    font-size: 6px;
    position: absolute;
    bottom: -35px;
    left: 30px;
    z-index: 1;
  }

  #home .work-details {
    margin-left: 0px;
  }

  #home .img-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  #home .img-section img {
    margin: 10px;
  }

  #home .work__section__mobile {
    display: none !important
  }
}

@media (max-width: 1200px) {
  #home .user-details-container .button-container,
  #home .user-details-container .user-deets,
  #home .user-details-container .icon-container,
  #home .user-details-container
  {
    display: none !important;
  }

  #home .extra-small {
    display: none !important;
  }

  #home .user-deets__mobile {
    display: block;
  }

  #home .user-deets__mobile .mobile-main__container {
    display: flex;
    justify-content: space-between;
  }

  #home .user-deets__mobile .avatar {
    width: 8rem;
    height: 9rem;
    object-fit: contain;
  }

  #home .user-details {
    padding: 19px 14px;
  }

  #home .user-deets__mobile .tap__mobile {
    border: 1px solid #4D75E8;
    background: transparent;
    padding: 9px 30px;
    font-size: 10px;
    color: #4D75E8;
    font-weight: 100;
    border-radius: 5px;
    margin: 9px;
  }

  #home .user-deets__mobile .user__rate {
    color: #4D75E8;
    display: flex;
    justify-content: space-between;
  }

  #home .user-deets__mobile .user__rate .rate {
    padding-left: 23px;
  }

  #home .user-deets__mobile .user__rate span {
    font-weight: 600;
  }

  #home .mobile-interview__container  {
    display: flex;
    position: relative;
  }

  #home .mobile-interview__container p {
    color: #707070;
    transform: rotate(-90deg);
    line-height: 13px;
    right: 66%;
    top: 33%;
    position: absolute;
  }

  #home .mobile-interview__container .mobile_image{
    display: flex;
    flex-direction: column;
  }
  
  #home .mobile-interview__container .mobile_image span {
    background: #4D75E8;
    width: 49px;
    padding: 9px;
    height: 43px;
    border-radius: 10px;
    margin: 10px;
  }

  #home .availability-container {
    display: none;
  }

  #home .mobile-social__section {
    display: flex;
    justify-content: space-between;
  }

  #home .mobile-social__section .tab__mobile {
    margin-top: -15px;
  }

  #home .mobile-social__section .tab__mobile button {
    border: 1px solid #4D75E8;
    background: transparent;
    color: #4D75E8;
    padding: 10px 18px;
    border-radius: 10px;
  }

  #home .mobile-social__section .mobile-icon__cont {
    display: flex;
    justify-content: space-between;
  }

  #home .mobile-social__section .mobile-icon__cont .icon {
    width: 37px;
    height: 31px;
    color: #4D75E8;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #home .hire {
    background: #4D75E8;
    color: #ffffff;
    font-weight: 100;
    padding: 15px 40px;
    border-radius: 10px;
  }

  #home .tab-containerr,
  .tab-section,
  .purple-section {
    display: none;
  }

  #home .tab-section__mobile {
    display: block;
    background: #4D75E8;
  }

  #home .tab-containerr__mobile {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
  }

  #home .tab-containerr__mobile a .active{
    color: #ffffff !important;
    font-weight: 600;
  }
  
  #home .tab-containerr__mobile a{
    cursor: pointer;
    position: relative;
    color: #ffffff;
    opacity: 0.43 !important;
    font-weight: 100;
  }
  
  #home .tab-containerr__mobile a .active::before{
    background: #4D75E8;
    font-family: "Font Awesome 5 Free";
    content: "\f111";
    border-radius: 100%;
    font-size: 6px;
    position: absolute;
    bottom: -35px;
    left: 30px;
    z-index: 1;
  }

  #home .work-details {
    margin-left: 0px;
  }

  #home .img-section {
    display: flex;
    justify-content: space-between;
  }

  #home .img-section img {
    margin: 10px;
  }

  #home .work__section__mobile {
    display: none !important
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {

  #home .main-container {
    padding: 1rem;
}

  #home .user-deets__mobile {
    display: none;
  }

  #home .user-deets__mobile .mobile-main__container {
    display: flex;
    justify-content: space-between;
  }

  #home .user-deets__mobile .avatar {
    width: 8rem;
    height: 9rem;
    object-fit: contain;
  }

  #home .user-details {
    padding: 19px 14px;
  }

  #home .user-deets__mobile .tap__mobile {
    border: 1px solid #4D75E8;
    background: transparent;
    padding: 9px 30px;
    font-size: 10px;
    color: #4D75E8;
    font-weight: 100;
    border-radius: 5px;
    margin: 9px;
  }

  #home .user-deets__mobile .user__rate {
    display: none;
  }

  #home .user-deets__mobile .user__rate .rate {
    padding-left: 23px;
  }

  #home .user-deets__mobile .user__rate span {
    font-weight: 600;
  }

  #home .mobile-interview__container  {
    display: flex;
    position: relative;
  }

  #home .mobile-interview__container p {
    display: none;
  }

  #home .mobile-interview__container .mobile_image{
    display: flex;
    flex-direction: column;
  }
  
  #home .mobile-interview__container .mobile_image span {
    background: #4D75E8;
    width: 49px;
    padding: 9px;
    height: 43px;
    border-radius: 10px;
    margin: 10px;
  }

  #home .availability-container {
    display: none;
  }

  #home .mobile-social__section {
    display: flex;
    justify-content: space-between;
  }

  #home .mobile-social__section .tab__mobile {
    display: none;
  }

  #home .mobile-social__section .tab__mobile button {
    border: 1px solid #4D75E8;
    background: transparent;
    color: #4D75E8;
    padding: 10px 18px;
    border-radius: 10px;
  }

  #home .mobile-social__section .mobile-icon__cont {
    display: flex;
    justify-content: space-between;
  }

  #home .mobile-social__section .mobile-icon__cont .icon {
    width: 37px;
    height: 31px;
    color: #4D75E8;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #home .hire {
    background: #4D75E8;
    color: #ffffff;
    font-weight: 100;
    padding: 15px 40px;
    border-radius: 10px;
  }

  #home .tab-containerr,
  .tab-section,
  .purple-section {
    display: none;
  }

  #home .tab-section__mobile {
    display: block;
    background: #4D75E8;
  }

  #home .tab-containerr__mobile {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
  }

  #home .tab-containerr__mobile .left,
  #home .tab-containerr__mobile .right {
    display: none;
  }


  #home .tab-containerr__mobile a .active{
    color: #ffffff !important;
    font-weight: 600;
  }
  
  #home .tab-containerr__mobile a{
    cursor: pointer;
    position: relative;
    color: #ffffff;
    opacity: 0.43 !important;
    font-weight: 100;
  }
  
  #home .tab-containerr__mobile a .active::before{
    background: #4D75E8;
    font-family: "Font Awesome 5 Free";
    content: "\f111";
    border-radius: 100%;
    font-size: 6px;
    position: absolute;
    bottom: -35px;
    left: 30px;
    z-index: 1;
  }

  #home .work-details {
    margin-left: 0px;
  }


  #home .img-section img {
    margin: 10px;
    width: 93%;
  }

  #home .action-area__mobile {
    display: flex !important;
    margin-top: 3rem;
  }

  #home .extra-small {
    display: block !important;
  }

  #home .extra-small .mobile-main__container {
    display: flex;
    justify-content: space-between;
  }

  #home .extra-small .mobile-main__container .chat__mobile {
    border: 1px solid #4D75E8;
    width: 38%;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
  }

  #home .extra-small .mobile-main__container .chat__mobile img {
    width: 63%;
  }

  #home .work__section__mobile {
    display: none !important
  }

  #home .action-area__mobile {
    display: flex !important;
    margin-top: 2rem;
    box-shadow: 5px 10px 15px 0px rgba(77,117,232,0.10);
    color: #4D75E8;
    padding: 5px;
    align-items: center;
    border-radius: 10px;
  }

  #home .action-area__mobile button {
    background: #4D75E8;
    color: #ffffff;
    border: none;
    padding: 14px 47px;
    border-radius: 12px;
  }
}

@media (max-width: 575.98px) { 
  #home .main-container {
    padding: 0rem;
}

  #home .user-deets__mobile {
    display: none;
  }

  #home .user-deets__mobile .mobile-main__container {
    display: flex;
    justify-content: space-between;
  }

  #home .user-deets__mobile .avatar {
    width: 8rem;
    height: 9rem;
    object-fit: contain;
  }

  #home .user-details {
    padding: 19px 14px;
  }

  #home .user-deets__mobile .tap__mobile {
    border: 1px solid #4D75E8;
    background: transparent;
    padding: 9px 30px;
    font-size: 10px;
    color: #4D75E8;
    font-weight: 100;
    border-radius: 5px;
    margin: 9px;
  }

  #home .user-deets__mobile .user__rate {
    display: none;
  }

  #home .user-deets__mobile .user__rate .rate {
    padding-left: 23px;
  }

  #home .user-deets__mobile .user__rate span {
    font-weight: 600;
  }

  #home .mobile-interview__container  {
    display: flex;
    position: relative;
  }

  #home .mobile-interview__container p {
    display: none;
  }

  #home .mobile-interview__container .mobile_image{
    display: flex;
    flex-direction: column;
  }
  
  #home .mobile-interview__container .mobile_image span {
    background: #4D75E8;
    width: 49px;
    padding: 9px;
    height: 43px;
    border-radius: 10px;
    margin: 10px;
  }

  #home .availability-container {
    display: none;
  }

  #home .mobile-social__section {
    display: flex;
    justify-content: space-between;
  }

  #home .mobile-social__section .tab__mobile {
    display: none;
  }

  #home .mobile-social__section .tab__mobile button {
    border: 1px solid #4D75E8;
    background: transparent;
    color: #4D75E8;
    padding: 10px 18px;
    border-radius: 10px;
  }

  #home .mobile-social__section .mobile-icon__cont {
    display: flex;
    justify-content: space-between;
  }

  #home .mobile-social__section .mobile-icon__cont .icon {
    width: 37px;
    height: 31px;
    color: #4D75E8;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #home .hire {
    background: #4D75E8;
    color: #ffffff;
    font-weight: 100;
    padding: 15px 40px;
    border-radius: 10px;
  }

  #home .tab-containerr,
  .tab-section,
  .purple-section {
    display: none;
  }

  #home .tab-section__mobile {
    display: block;
    overflow-y: scroll;
    background: #4D75E8;
  }

  #home .tab-containerr__mobile {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
  }

  #home .tab-containerr__mobile .left,
  #home .tab-containerr__mobile .right {
    display: none;
  }


  #home .tab-containerr__mobile a .active{
    color: #ffffff !important;
    font-weight: 600;
  }
  
  #home .tab-containerr__mobile a{
    cursor: pointer;
    position: relative;
    color: #ffffff;
    opacity: 0.43 !important;
    font-weight: 100;
  }
  
  #home .tab-containerr__mobile a .active::before{
    background: #4D75E8;
    font-family: "Font Awesome 5 Free";
    content: "\f111";
    border-radius: 100%;
    font-size: 6px;
    position: absolute;
    bottom: -35px;
    left: 30px;
    z-index: 1;
  }

  #home .work-details {
    margin-left: 0px;
  }


  #home .img-section img {
    margin: 11px;
    width: 96%;
  }

  #home .action-area__mobile {
    display: flex !important;
    margin-top: 2rem;
    box-shadow: 5px 10px 15px 0px rgba(77,117,232,0.10);
    color: #4D75E8;
    padding: 5px;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 2rem;
  }

  #home .action-area__mobile .slant-line {
    opacity: 0.16;
    border: 1px solid #4D75E8;
    height: 3rem;
  }

  #home .action-area__mobile button {
    background: #4D75E8;
    color: #ffffff;
    border: none;
    padding: 10px 19px;
    border-radius: 12px;
  }

  #home .action-area__mobile p {
    font-size: 13px;
  }

  #home .extra-small {
    display: block !important;
  }

  #home .extra-small .mobile-main__container {
    display: flex;
    justify-content: space-between;
  }

  #home .extra-small .mobile-main__container .chat__mobile {
    border: 1px solid #4D75E8;
    width: 38%;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
  }

  #home .extra-small .mobile-main__container .avatar {
    width: 7rem;
    height: 9rem;
    object-fit: contain;
  }

  #home .extra-small .mobile-main__container .chat__mobile img {
    width: 63%;
  }

  #home .extra-small .mobile-main__container .mobile_image {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }

  #home .extra-small .mobile-main__container .mobile_image span {
    background: #4D75E8;
    width: 49px;
    padding: 9px;
    height: 43px;
    border-radius: 10px;
    margin: 10px;
  }

  #home .work__section__mobile {
    display: none !important
  }

  #home .tab-section__mobile {
    display: none !important
  }

  #home .tab-section__mobile {
    display: block !important;
  }

  #home .tab-section__mobile .purple-section .work-content {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-weight: 100;
  }

  #home .tab-section__mobile .purple-section .work-content .mobile {
    padding: 0 !important;
  }
 }


 @media (min-width: 320px) and (max-width: 390px) {
  #home .action-area__mobile button {
    background: #4D75E8;
    color: #ffffff;
    border: none;
    padding: 10px 12px;
    border-radius: 12px;
  }

  #home .extra-small .mobile-main__container .avatar {
    width: 7.6rem;
    height: 8rem;
    margin-top: 17px;
    object-fit: contain;
  }

  #home .user-details {
    padding: 35px 14px;
  }
  #home .action-area__mobile p {
    font-size: 11px;
  }

  #home .tab-containerr__mobile {
    padding: 2rem 0rem;
    overflow-y: scroll;
  }

  #home .tab-containerr__mobile div {
    padding: 0px 20px;
  }

  #home .tab-section__mobile {
    display: none !important
  }

  #home .tab-section__mobile {
    display: block !important;
  }

  #home .tab-section__mobile .purple-section .work-content {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-weight: 100;
    font-size: 19px;
  }

  #home .tab-section__mobile .purple-section .work-content .small-p{
    padding-left: 1.3rem;
  }

  #home .tab-section__mobile .purple-section .work-content .mobile {
    padding: 0 !important;
    font-size: 19px;
  }

  #home .tab-section__mobile .purple-section .work-content .sub-heading {
    font-size: 22px;
  }

  #home .tab-section__mobile .purple-section .work-content .big-text {
    font-size: 20px;
  }

  #home .small__phone {
    padding-left: 22px;
  }
 }